*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body{
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "sidebar navbar navbar navbar"
  "sidebar main main ad"
}

img, picture, video, canvas, svg{
  display: block;
  max-width: 100%;
}

input, button, textarea, select{
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6{
  text-wrap: balance;
}

#root, #__next{
  isolation: isolate;
}

nav{
  top: 0;
  position: sticky;
  grid-area: navbar;
  background-color: blue;
  padding: 2em;
}

aside{
  top: 82px;
  position: sticky;
  grid-area: sidebar;
  background-color: yellow;
}

main{
  grid-area: main;
  background-color: red;
  
}

.ad{
  grid-area: ad;
}

