*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body{
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "sidebar navbar navbar navbar"
  "sidebar main main ad"
}

img, picture, video, canvas, svg{
  display: block;
  max-width: 100%;
}

input, button, textarea, select{
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6{
  text-wrap: balance;
}

#root, #__next{
  isolation: isolate;
}

nav{
  top: 0;
  position: sticky;
  grid-area: navbar;
  background-color: #E8F9FF;
  padding: 2em;
  display: grid;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar-top {
  grid-row: 1 / 2;
  margin-bottom: 50px;
}

input {
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 800px;
  margin-right: 150px;
  background-color: #C5BAFF;
}

.navbar-top li,
.navbar-bottom li{
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-search,
.navbar-bell{
  width: 30px;
  height: 30px;
}

.navbar-top-account{
  width: 50px;
  height: 50px;
}

.navbar-top li:nth-child(5){
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-bottom-account{
  width: 90px;
  height: 90px;
}

.navbar-bottom span{
  margin-right: 455px;
  font-size: 2rem;
  font-weight: 600;
}

button{
  border: none;
  border-radius: 20px;
  width: 120px;
  height: 45px;
  background-color: #C4D9FF;
  font-weight: 600;
  font-size: 1.2rem;
}

aside{
  top: 82px;
  grid-area: sidebar;
  background-color: #C4D9FF;
  color: #212121;
  display: grid;
}

.list-sidebar li{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.list-sidebar li:hover{
  color: #9480fc;
}

.list-sidebar li:nth-child(1){
  width: 50px;
  height: 50px;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 50px;
}

.list-sidebar li:nth-child(7){
  margin-bottom: 50px;
}

.list-sidebar li:nth-child(n+2) {
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
}

main{
  grid-area: main;
  background-color: #FBFBFB;  
}

.ad{
  grid-area: ad;
  background-color: #FBFBFB;
}