*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body{
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "sidebar navbar navbar navbar"
  "sidebar main main ad"
}

img, picture, video, canvas, svg{
  display: block;
  max-width: 100%;
}

input, button, textarea, select{
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6{
  text-wrap: balance;
}

#root, #__next{
  isolation: isolate;
}

nav{
  top: 0;
  position: sticky;
  grid-area: navbar;
  background-color: blue;
  padding: 2em;
}

aside{
  top: 82px;
  position: sticky;
  grid-area: sidebar;
  background-color: #61677A;
  color: #D8D9DA;
  display: grid;
}

.list-sidebar li{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.list-sidebar li:hover{
  color: #D8D9DA;
}

.list-sidebar li:hover img {
  filter: brightness(0) saturate(100%) invert(88%) sepia(2%) saturate(41%) hue-rotate(177deg) brightness(93%) contrast(88%);
}

.list-sidebar li:nth-child(1){
  width: 50px;
  height: 50px;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 50px;
}

.list-sidebar li:nth-child(7){
  margin-bottom: 50px;
}

.list-sidebar li:nth-child(n+2) {
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
}

main{
  grid-area: main;
  background-color: red;  
}

.ad{
  grid-area: ad;
}