*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  display: block;
  font-size: 100%;
  width: 100%;
  padding: 5px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 5px;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.kumar-one-regular {
  font-family: "Kumar One", serif;
  font-weight: 400;
  font-style: normal;
}

.lilita-one-regular {
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
}

.monomaniac-one-regular {
  font-family: "Monomaniac One", serif;
  font-weight: 400;
  font-style: normal;
}

.left-side {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.bg {
  background-image: linear-gradient(45deg, #C4D9FF 0%, #E8F9FF 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumar One", serif;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  height: max(90px,10vh);
  width: 100%;
  margin-bottom: 50vh;
}

.right-side {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  height: 30%;
  font-family: "Monomaniac One", serif;
  font-size: 1.5rem;
  background-color: #C4D9FF;
}

.top p {
  padding-top: 40px;
  width: 60%;
}

.top > p + p {
  font-size: 1.9rem;
}

.middle {
  height: 60%;
  background-color: #E8F9FF;
}

.bottom {
  height: 10%;
  background-color: #C4D9FF;
}

form {
  font-family: "Monomaniac One", serif;
  font-size: 1.3rem;
  padding-left: 100px;
  padding-top: 100px;
}

.form {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
}
 
input:focus {
  caret-color: #C5BAFF;
  border-color: #C5BAFF;
  outline: none;
}

button {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  background-color: #C5BAFF;
  cursor: pointer;
}

button:hover,
button:focus {
  background: #333;
  color: #C5BAFF;
}

a {
  color: #a18ff8;
  text-decoration: none;
}

a:hover {
  color: #333;
}