html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #229799;
}

#header-title{
  color: #424242;
  font-size: 4rem;
  margin-left: 100px;
}

#addBook{
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #424242;
  background-color: #424242;
  color: #229799;
  margin-right: 100px;
  border-radius: 20px;
  font-size: 1rem;
}

#addBook:hover{
  background-color: #229799;
  color: #424242;
}

dialog {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

form{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #229799;
  font-size: 14px;
  color: #424242;
  padding-top: 30px;
  padding-bottom: 30px;
}

main{
  flex: 1;
  padding: 20px;
}