* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: DejaVu Sans Mono, monospace;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  background-color: #D9DFC6;
}

.title {
  font-size: 35px;
  padding-bottom: 40px;
}

.container-main {
  display: flex;
  width: 1300px;
  height: 700px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: 300px;
  margin-top: 50px;
  margin-left: 100px;
  height: 600px;
  background-color: #dadfca;
}

.sidebar-title {
  text-align: center;
  padding-top: 10px;
}

button {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: #FFFDF0;
  color: rgb(0, 0, 0);
  font-weight: bold;
  align-self: center;
  width: 80px;
}

.grid {
  display: grid;
  width: 600px;
  height: 600px;
  margin-top: 50px;
  margin-left: 250px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.square {
  border: 1px solid #bcc2b5;
  background-color: #FFFDF0;
}